@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.Navbar__section {
  background-color: #ffc017;
  border-bottom: 1.8px solid #080808;
  padding: 0 40px 0 35px;
  position: sticky;
  top: 0;

  img {
    display: inline;
    width: 170px;
  }

  .Navbar__right {
    font-size: 13px;
    font-weight: 600;

    button {
      background-color: #080808;
      color: #ffffff;
      border: none;
      border-radius: 50px;
      width: 100px;
    }
  }
}

.App_Main_Section {
  background-color: #ffc017;
  border-bottom: 1.5px solid black;
  display: flex;
  padding: 0 60px 10px 10px;

  .Heading__section {
    margin-top: 30px;
    margin-left: 50px;
    h1 {
      font-size: 60px;
      font-weight: 600;
      font-family: "Noto Serif JP", serif;
      color: #080808;
    }

    @media (max-width: 425px) {
      h1 {
        font-size: 50px;
        width: 100%;
      }
      p {
        font-size: 15px;
      }
    }

    p {
      width: 100%;
      font-size: 18px;
      color: #2a2a2a;
      margin-top: 45px;
    }

    a {
      color: #2a2a2a;
    }

    button {
      background-color: #ffc017;
      width: 130px;
      padding: 11px;
      border-radius: 50px;
      border: 1.8px solid black;
      margin-top: 25px;
      margin-bottom: 50px;
      font-family: inherit;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .image__section {
    img {
      display: inline;
      width: 400px;
      resize: contain;
      max-width: 500px;
      margin-left: 300px;
    }

    @media (max-width: 800px) {
      img {
        display: none;
      }
    }
  }
}

.Main_trending {
  margin-top: 40px;
  display: flex;
  padding: 15px;
  border-bottom: 0.5px solid #ccc;

  p {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.083px;
    margin-left: 12px;
  }

  .trending_list {
    display: flex;
  }

  .Trending__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .First__section {
      display: flex;
      flex: 0.3;
      h2 {
        padding: 0 0 0 5px;
        font-size: 30px;
        font-weight: bold;
        color: rgba(230, 230, 230, 1);
      }
      .items__section {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: flex-start;
        justify-content: flex-start;
        .Name__section {
          display: flex;
          flex-direction: row;
          img {
            width: 20px;
            height: 20px;
            border-radius: 50px;
          }
          .name {
            display: flex;
            p {
              color: #080808;
            }
          }
        }
      }

      .Title__section {
        flex: 0.3;
        p {
          color: #080808;
          font-weight: bold;
          font-size: 15px;
        }
      }

      .Time__section {
        flex: 0.3;
        p {
          color: gray;
        }
      }
    }
  }
}

.sidebar__section {
  display: flex;
  padding: 60px;

  .sidebar__right {
    display: flex;
    flex-direction: column;
  }

  .sidebar__mainsection {
    display: flex;
    flex-direction: row;
  }

  .sidebar__subright {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    .Name__section {
      display: flex;
      flex-direction: row;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50px;
      }
      .name {
        display: flex;
        p {
          font-size: 13px;
          font-weight: bolder;
          color: #080808;
        }
      }
    }
  }

  .Title__section {
    flex: 0.3;
    p {
      color: #080808;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .Title__subsection {
    flex: 0.3;
    p {
      color: gray;
      font-weight: bold;
      font-size: 15px;
    }
  }

  .Time__section {
    flex: 0.3;
    p {
      font-size: 13px;
      font-weight: 600;
      color: gray;
    }
  }

  .sidebar__left {
    padding-left: 100px;

    .left__upper{
      p{
        width: 110%;
        font-size: 13px;
        font-weight: bolder;
      }
      @media(max-width:768px){
        p{
          width: 100%;
        }
      }

      .left__links{
        width: 120%;
        button{
          background: none;
          height: 30px;
          margin: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;

          p{
            width: 100%;
            padding: 5px 10px 0 10px;
          }
        }

        @media(max-width:768px){
          .left__links{
            width: 100%;
          }
        }
      }
    }
  }
}
